@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Signika+Negative:wght@300&family=Signika:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav div a {
  padding: 5px;
  margin: 0 1px 0 1px;
}

a {
  font-family: 'Signika Negative';
  font-weight: bold;
}

p {
  font-family: 'Signika Negative'
}

li {
  padding-bottom: 8px;
}