
// Import global custom fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Signika+Negative:wght@300&family=Signika:wght@700&display=swap');

// Global colorset to be used
$lorange: #f6d3ac;
$salmon: #fd766b;
$torange: #fd4e4d;
$amaranth: #e5234b;
$ampurp: #a92d56;
$highlight: #32c3a6;
$white: #ffffff;
$black: #000000;
$shade: #d6d4ce;

h1, h2 {
  font-family: 'Signika', sans-serif;
  text-transform: uppercase;

  color: $amaranth;
}

h3, h4 {
  font-family: 'Signika Negative', sans-serif;
  color: $black;
}

p, li {
  font-family: 'Signika Negative', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Signika', sans-serif;
}

body {
  margin: 0;
  background-color: $white;
}

* {
  box-sizing: border-box;
}