@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Signika+Negative:wght@300&family=Signika:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav div a {
  padding: 5px;
  margin: 0 1px 0 1px;
}

a {
  font-family: 'Signika Negative';
  font-weight: bold;
  cursor: url('../public/images/cursor-whale.png'), pointer;
}

p {
  font-family: 'Signika Negative'
}

li {
  padding-bottom: 8px;
}

article {
  margin: 26px 0 46px 0;
}

// Changing colors background style
@keyframes bgcolor {
  0% {
    background-color: #f6d3ac;
  }

  25% {
    background-color: #a92d56;
  }
  
  50% {
    background-color: #32c3a6;
  }

  75% {
    background-color: #ff5940
  }

  100% {
    background-color: #5e6fd1;
  }
}

#home-section {
  animation: bgcolor 20s infinite;
  h1 {
    text-shadow: 3px 3px 3px black;
  }
}