@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Signika+Negative:wght@300&family=Signika:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav div a {
  padding: 5px;
  margin: 0 1px 0 1px;
}

a {
  font-family: 'Signika Negative';
  font-weight: bold;
  cursor: url('../public/images/cursor-whale.png'), pointer;
}

p {
  font-family: 'Signika Negative'
}

li {
  padding-bottom: 8px;
}

article {
  margin: 26px 0 46px 0;
}

table {
  table-layout: fixed;
}

tr {
  display: block;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 5px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
}

tr:nth-child(1) {
  background: none;
}

.customer-name {
  font-family: 'Nanum Pen Script', serif;
  font-weight: bold;
  font-size: 20px;
}

.display-item {
  margin-top: 50px;
  
}

.display-item h3 {
  font-weight: bold;
  font-family: 'Nanum Pen Script', serif;
  font-size: 20px;
}

.display-item img {
  max-width: 95%;
  margin: 0 auto;
}

/* Laptop Styles for Portfolio Page */
@media screen and (min-width: 1028px) {
  .display-item h3 {
    font-size: 26px;
    background: lightgray;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    border-radius: 5px 5px 0 0;
  }

  .display-item img {
    background: lightgray;
    padding: 15px;
    border-radius: 5px;
  }
}

// Changing colors background style
@keyframes bgcolor {
  0% {
    background-color: #f6d3ac;
  }

  25% {
    background-color: #a92d56;
  }
  
  50% {
    background-color: #32c3a6;
  }

  75% {
    background-color: #ff5940
  }

  100% {
    background-color: #5e6fd1;
  }
}

#home-section {
  animation: bgcolor 20s infinite;
  h1 {
    text-shadow: 3px 3px 3px black;
  }
}